name: CI
on:
  push:
    branches: [ master, gh-pages ]
  pull_request:
    branches: [ master, gh-pages ]

jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    - name: Setup Ruby for use with actions
      uses: actions/setup-ruby@master
    - name: cibuild
      run: ./script/cibuild
